@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Pretendard Variable", Pretendard;
  word-break: keep-all;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style-type: none;
}
button {
  border: none;
}

/* header */
header {
  padding: 0 20px;
  height: 68px;
  border-bottom: 1px solid #E8EEF2;
  background-color: #fff;
}
header .container {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
header .container .logo a {
  font-size: 24px;
  font-weight: 900;
}
header .container .menu {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
header .container .menu li a {
  padding: 6px 12px;
  font-weight: 600;
  transition: .1s;
}
header .container .menu li a:hover {
  color: #F23A2F;
  transition: .1s;
}

@media (max-width: 768px) {
  header .container .menu {
    display: none;
  }
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menu-button .menu-bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #333;
    margin-bottom: 5px;
  }
}

.login-wrap {
  padding: 160px 40px;
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrap .title {
  margin-bottom: 40px;
  color: #17191A;
  font-size: 36px;
  font-weight: 700;
  line-height: 50.4px;
}

.login-wrap input {
  margin-bottom: 10px;
  width: 300px;
  height: 44px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #E8EEF2;
  background: #FFF;
  outline: none;
}
.login-wrap input::placeholder {
  color: #bbb;
}
.login-wrap input:hover {
  border: 1px solid #C0C5FF;
}
.login-wrap input:focus {
  border: 1px solid #004FFF;
}

.login-wrap button {
  margin-bottom: 20px;
  padding: 16px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #004FFF;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.login-wrap button:hover {
  opacity: .8;
}
.login-wrap a {
  font-size: 14px;
  font-weight: 600;
}
.login-wrap a:hover {
  opacity: .8;
}

/* footer */
footer {
  bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}
footer .logo {
  margin-bottom: 30px;
}
footer .logo a {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
}
footer .menu {
  margin-bottom: 80px;
  display: flex;
  gap: 30px;
}
footer .menu li a {
  font-size: 24px;
  color: #fff;
}

@media (max-width: 750px) {
  footer .menu li a {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  footer .menu {
    margin-bottom: 40px;
    display: block;
  }
  footer .menu li {
    padding: 6px 0;
    text-align: center;
  }
}